page{
	padding-top: 90rpx;
	background: #f5f5f5;
}
.top-bar {
	background: #fff;
	position: fixed;
	width: 100%;
	top: 0;
	left: 0;
	z-index: 10; 

	.line {
		position: absolute;
		width:50rpx;
		height: 1rpx;
		border-top: 6rpx solid red;
		bottom: 0;
		transition: left 0.2s linear;
		bottom:12rpx;
	}

}

.navbar-header {
	font-size: 30rpx;
	padding-right: 25rpx;

	.all,
	.more {
		line-height: 42rpx;
		padding: 24rpx 0;
		width: 100rpx;
		text-align: center;
		color: #333;
		&.active{
			font-size: 36rpx;
			font-weight: bold;
			color:#FF1D12;
		}
	}

	.swiper {
		width: 360rpx; 
		color: #333;
		swiper{
			height: 70rpx;
		}
		.swiper-item{
			line-height: 70rpx;
			width: 120rpx;
			text-align: center;
			&.active{
				font-size: 36rpx;
				font-weight: bold;
				color:#FF1D12;
			}
		}
		/* .scroll-view {
			white-space: nowrap;

			.scroll-item {
				line-height: 42rpx;
				width: 120rpx;
				display: inline-block;
				text-align: center;
				padding: 24rpx 0;
			}
		} */
	}
}

.banner{
	padding: 22rpx 25rpx 40rpx;
	position: relative;
	.banner-swiper{  
		height: 280rpx;
		.swiper-item{  
			image{
				width:700rpx;
				height: 280rpx;
				border-radius: 10rpx;
			}
		}
	}
	.banner-dot{
		position: absolute;
		bottom:60rpx;
		width:700rpx;
	}
}

.swiper-content{
	height: 600rpx;
	.swiper-item{
		font-size: 100rpx;
		padding-top: 200rpx;
	}
}