 
.top-bar {
	background: #fff;
	position: fixed;
	width: 100%;
	top: 0;
	left: 0;
	z-index: 10;  
	padding-left: 17rpx;
	padding-right: 16rpx;
	.scroll-nav{
		width: 500rpx;
		white-space: nowrap;
		.scroll-item{
			height: 90rpx;
			display: inline-block;
			padding:28rpx 20rpx;
			font-size: 30rpx;
			color: #000;
			font-weight: 600;
			position: relative;
			&.active{
				color: #FF1D12;
				font-weight: 600;
				font-size: 36rpx;
				font-weight: 700;
				&:after{
					position: absolute;
					content: "";
					width:46rpx;
					height: 6rpx;
					background-color:#FF1D12;
					bottom: 15rpx;
					left:50%;
					margin-left: -23rpx;
				}
			}
		}
	}
	.search-icon{
		width: 28rpx;
		height: 28rpx; 
		padding:10rpx;
	}
}


.banner{
	padding: 94rpx 25rpx 40rpx; 
	background-color: #fff;
	.banner-swiper{  
		height: 280rpx;
		.swiper-item{  
			image{
				width:700rpx;
				height: 280rpx;
				border-radius: 10rpx;
			}
		}
	}
	.banner-dot{
		position: absolute;
		bottom:60rpx;
		width:700rpx;
	}
}

.swiper-content{
	height: 600rpx;
	.swiper-item{
		font-size: 100rpx;
		padding-top: 200rpx;
	}
}
.carefull-choose-title{
	padding:0 25rpx;
	background-color: #fff;
	.left-title{
		font-size:36rpx;
		line-height: 50rpx;
		font-weight:bold; 
		color:#1e1e1e;
	}
	.hot-icon{
		font-size: 20rpx;
		color: #fff;
		padding:4rpx 6rpx;
		background-color: #FF1D12;
		border-radius: 8rpx;
		margin-left: 12rpx;
	}
	.more{
		font-size: 30rpx;
		color: #7d7d7d;
		margin-right: 10rpx;
	}
	.arrow-r{
		width: 26rpx;
		height: 26rpx;
		display: block;
	}
}
.cooperate-title{  
	background-color: #f4f4f4;
	.title{
		height:74rpx;
		padding:22rpx 25rpx 2rpx; 
		background-color: #fff;
		font-size:36rpx; 
		line-height: 50rpx;
		font-weight:bold; 
		color:#1e1e1e;
	}
	&.fixed{
		width: 750rpx;
		position: fixed;
		top:110rpx;
		left:0;
		z-index: 10;
	}
} 

.gap{
	width: 750rpx;
	height: 20rpx;
	position: fixed;
	background-color: #f4f4f4;
	top:90rpx;
	left:0;
	z-index: 20;
}