page{
	background-color: #f4f4f4;
}  
.edit-item{
	padding:24rpx 30rpx 24rpx 26rpx;
	background-color: #fff;
	button[type=default]{
		background: transparent;
		flex:1;
		margin-left: 40rpx;
		padding:0;
		line-height:52rpx;
		color:#999;
		font-size: 30rpx;
		text-align: left;
		&:after{
			border:none;
		}
		&.edit-headimg{
			line-height: 120rpx;
			margin-left:-120rpx;
			padding-left: 164rpx;
		}
		&.active{
			color:#101010;
		}
	}
	.left-img{
		height: 120rpx;
		width: 120rpx;
		border-radius: 50%;
	}
	.left{
		width:120rpx; 
		font-size:30rpx;  
		line-height:52rpx;
		color:#7D7D7D; 
	}
	.center{ 
		flex:1;
		font-size:30rpx;  
		line-height:52rpx;
		color:#999; 
		margin-left: 40rpx;
		&.sign{
			@include manyEls (2);
		}
		&.active{
			color:#101010;
		}
		&.edit-headimg{
			line-height: 120rpx;
		}
	}
	.right{
		width:30rpx;
		height: 30rpx;
	}
}
.submit{
	width:690rpx;
	line-height:88rpx;
	margin: 0 auto;
	margin-top:60rpx;
	background:#FF3333;
	border-radius:16rpx;
	color: #fff;
	text-align: center;
	font-size: 30rpx;
}