page{
	padding-top: 140rpx;
}
.detail-cont{
	
	padding-bottom: 200rpx;
}
.gap{
	width: 750rpx;
	height: 20rpx;
	background-color: #f4f4f4;
	position: fixed;
	z-index: 10;
	top:0;
	left: 0;
}
.title-bar{
	padding: 30rpx 25rpx;
	background: #fff;
	height: 120rpx;
	width:750rpx;  
	position: fixed;
	left:0; 
	top:20rpx;
	z-index: 10; 
	.title-bar-img{
		width:60rpx;
		height: 60rpx;
		border-radius: 50%;
		margin-right: 12rpx;
	}
	.title-bar-center{
		flex:1;
		.user-name{ 
			line-height:26rpx;
			font-size:26rpx;  
			color:#1a1a1a; 
		}
		.user-state{ 
			font-size:20rpx; 
			line-height:28rpx;
			color:#FF1D12; 
		}
		.job{
			margin-top:5rpx;
			.sex-icon{
				width: 24rpx;
				height: 24rpx;
				margin-right: 10rpx;
			}
			text{ 
				font-size:20rpx; 
				line-height:28rpx;
				color:#7d7d7d; 
			}
		}
	}
	button[type=default]{
		width:120rpx;
		line-height: 46rpx;
		margin:0;
		padding:0;
		background: transparent;
		font-size: 26rpx;
		color:#FF1D12;
		&:after{
			border-radius: 35rpx;
			border-color:#FF1D12;
		}
	}
	.share-icon{
		width:40rpx;
		height: 40rpx;
		margin-left: 30rpx;
	}
}
.swiper{
	width: 750rpx;
	height: 445rpx;
	.swiper-item {
		image{
			width:750rpx;
			height: 445rpx;
		}
	}
}


.res-summary{
	padding:22rpx 25rpx 0;
	margin-bottom: 20rpx;
	background: #fff;
	.brand{
		.brand-icon{
			width: 80rpx;
			height: 80rpx;
			margin-right: 15rpx;
		} 
		.brand-info{
			flex:1;
		}
		.brand-name{  
			font-size:36rpx; 
			font-weight:500;
			line-height:52rpx;
			color:#191919; 
		}
		.brand-count{ 
			font-size:32rpx; 
			font-weight:500;
			line-height:52rpx;
			color:#FF1D12; 
		}
		.brand-trade{  
			font-size:26rpx; 
			line-height:37rpx;
			color:#7D7D7D; 
		}
		.tag{ 
			font-size:26rpx;  
			line-height:37rpx;
			color:#868686; 
		}
	}
	.period-validity{  
		padding: 0 16rpx;
		margin-top: 20rpx;
		background:#FFE8E9; 
		border-radius:6rpx;
		height: 46rpx;
		image{
			width:22rpx;
			height: 22rpx;
			margin-right: 12rpx ;
		}
		text{  
			font-size:24rpx; 
			color:#FF1D12; 
			line-height: 46rpx;
		}
	}
	.res-tags{ 
		text{
			margin:20rpx 20rpx 0 0;
			width: 165rpx;
			text-align: center;
			border-radius: 8rpx;
			line-height: 50rpx;
			font-size: 24rpx;
			color: #fff;
			background: #FFA658;
		}
	}
	.res-title{
		padding:20rpx 0 30rpx;  
		font-size:26rpx; 
		line-height:36rpx;
		color:#141414; 
	}
	.res-time{
		padding: 20rpx 0;
		.time{
			flex:1;
			font-size: 26rpx;
			color: #7D7D7D;
		}
		.flex-start{
			margin-left: 30rpx;
		}
		image{
			width:30rpx;
			height: 30rpx;
		}
		text{ 
			line-height:37rpx;
			font-size:26rpx;  
			color:#7D7D7D; 
			margin-left: 12rpx;
		}
	}
	
}

.nav-bar{
		height: 80rpx;
		background: #fff; 
		&.fixed{
			box-shadow:0px 3rpx 10rpx rgba(178,178,178,0.2);
			position: fixed;
			width:100%;  
			left:0;
			top:138rpx;
			z-index: 10;
			border-top:1rpx solid #f4f4f4;
		}
		text{ 
			line-height:80rpx;
			font-size:32rpx; 
			font-weight:500; 
			color:#7D7D7D; 
			position: relative;
			&.active{
				color:#FF0000;
				&::after{
					content: "";
					position: absolute;
					width:50rpx;
					height: 6rpx;
					bottom:0;
					left:50%;
					margin-left: -25rpx;
					background-color: #FF0000;
				}
			}
			
		}
	}
	.my-need,.my-provide,.my-cooperate{
		padding:30rpx 25rpx 40rpx;
		margin-top: 20rpx;
		background-color: #fff;
		.title-panel {
			width:700rpx; 
			background:rgba(255,29,18,0.1); 
			border-radius:8rpx; 
			line-height:60rpx;
			font-size:34rpx; 
			font-weight:bold; 
			color:#FF0000; 
			padding-left: 20rpx;
			position: relative;
			&:before{
				position: absolute;
				content: '';
				width:6rpx;
				height: 26rpx;
				background: #FF0000;
				left:10rpx;
				top:20rpx;
			}
		}
		.group-item{
			margin-top:30rpx;
			.sub-title{
				line-height:30rpx;
				font-size:30rpx; 
				font-weight:500; 
				color:#191919; 
			}
			// 投放预算，每日倒量
			&.budget,&.input-count{
				.budget-content,.input-count-content{
					margin-top: 20rpx;
					.min-val,.max-val{
						width:300rpx;
						text-align:center;
						line-height:70rpx;
						background:#FF1D12; 
						border-radius:10rpx;  
						font-size:30rpx; 
						font-weight:400; 
						color: #fff; 
					}
					text{
						color: #707070;
					}
					&.myprovide{
						.min-val,.max-val{
							background: #1DBC62;
						} 
					}
				} 
			}
			// 行业地区 ，资源类型,广告位置，结算方式，付费方式，渠道测试
			&.industry-area,&.resource-type,&.ad,&.settle-accounts,&.payment,&.channel-test{
				.industry,.area,.resource-type-content,.ad-content,.settle-accounts-content,.payment-content,.channel-test-content{
					flex-wrap: wrap;
					text{
						width:220rpx;
						padding:20rpx 0;
						line-height:30rpx;
						background:#F4F4F4; 
						border-radius:10rpx;
						text-align: center;
						&:nth-child(3n-1){
							margin:20rpx 20rpx 0 20rpx;
						}
						margin-top:20rpx;
						font-size: 30rpx;
						color: #7D7D7D;
					}
				}
				.ad-content{
					text{
						background: #1DBC62;
						color:#fff;
					} 
				}
				.channel-test-content{
					text{
						background: #0080FF;
						color:#fff;
					}
				}
			}
			// 换量比例
			&.exchange {
				.exchange-content{
					margin-top:20rpx;
					image{
						width:32rpx;
						height: 32rpx;
					}
					text{
						font-size: 50rpx;
						color: #191919;
						font-weight: 500;
					}
					.left,.right{
						height: 64rpx;
						width: 300rpx;
						background: #FF1D12;
						border-radius: 10rpx; 
						.target{
							flex:1;
							font-size:30rpx;   
							color:#fff; 
						}
					}
					.left{
						padding:3rpx 3rpx 3rpx 20rpx;
						.target{
							margin-left: 10rpx;
						}
					}
					.right{
						padding:3rpx 20rpx 3rpx 3rpx;
						.target{
							text-align: right;
							margin-right: 10rpx;
						}
					}
					
					.number{
						width:130rpx;
						line-height:58rpx;
						background: #fff; 
						border-radius:10rpx;
						text-align: center;
						color: #141414;
						font-size: 30rpx;
					}
				} 
			}
			// 用户画像
			&.user-portrait{ 
				.user-portrait-content{
					margin-top: 30rpx;
					.girl,.boy{
						width:340rpx;
						height: 122rpx;
						border-radius: 10rpx;
						text{
							font-size: 30rpx;
							color:#7D7D7D;
						}
						.sex-img{
							width:100rpx;
							height: 100rpx;
							margin-top: 20rpx;
						}
						.sex-icon{
							width: 50rpx;
							height: 50rpx;
						}
					} 
					.girl{
						background: #FEF0F5;
						.sex-img{
							margin-left:40rpx;
							margin-right: 60rpx;
						}
					}
					.boy{
						background-color: #F2F8FF;
						.sex-img{
							margin-left:60rpx;
							margin-right:30rpx ;
						}
					}
				}
				.age{
					margin-top:20rpx;
					text{
						color: #707070;
					}
					.age-val{
						width:300rpx;
						text-align: center;
						line-height: 70rpx;
						background: #F4F4F4;
						color: #999999;
						font-size: 30rpx; 
					}
				}
				.colony{
					flex-wrap: wrap;
					text{
						width:220rpx;
						color: #868686;
						background: #f4f4f4;
						padding: 20rpx 0;
						font-size: 30rpx;
						line-height: 30rpx;
						text-align: center;
						&:nth-child(3n-1) {
							margin: 20rpx 20rpx 0 20rpx;
						}
						margin-top:20rpx;
					}
				}
			}
			// 详细描述
			&.resource-detail{
				.detail-content{
					height: 280rpx;
					margin-top: 20rpx;
					background: #f4f4f4;
					font-size: 26rpx;
					color: #141414;
					padding:30rpx 20rpx;
					overflow-y: scroll;
					border-radius: 10rpx;
				}
			}
			// 产品体验
			&.product-experience{
				.product-experience-content{
					height: 284rpx;
					text-align: center;
					border-radius: 10rpx;
					margin-top: 20rpx;
					background: #f4f4f4;
					padding-top: 30rpx;
					image{
						width:180rpx;
						height: 180rpx; 
					}
					.tip{ 
						font-size:26rpx;  
						line-height:36rpx;
						color:#141414; 
						margin-top: 15rpx;
					}
				}
			}
		}
		
	} 
	.my-provide{
		.title-panel{
			background-color:#E9F7F0 ;
			color: #1DBC62;
			&:before{
				background-color:  #1DBC62;
			}
		}
	}
	.my-cooperate{ 
		.title-panel{
			background-color:#E6F2FF ;
			color: #0080FF;
			&:before{
				background-color:  #0080FF;
			}
		}
	}
	
	
	.footer{
		padding:20rpx 25rpx;
		background-color: #fff;
		position: fixed;
		width:750rpx;
		left:0;
		bottom: 0;
		z-index: 10;
		image{
			width:40rpx;
			height: 40rpx; 
		}
		.notice,.sc,.zan{ 
			flex:1;
			.count{  
				font-size:24rpx; 
				line-height:33rpx;
				color:#141414; 
			}
		}
		.sc{
			margin:0 50rpx;
		}
		.btn{ 
			height: 80rpx;
			width: 350rpx;
			border-radius: 14rpx;
			background-color: #FF1D12;
			text{  
				font-size:30rpx; 
				font-weight:bold;
				line-height:80rpx;
				color:#fff; 
				margin-left: 12rpx;
			}
		}
	}