.fine-cont{
	padding-top: 132rpx;
}
.tip{
	position: fixed;
	top:0;
	left: 0;
	width: 750rpx;
	line-height: 50rpx; 
	padding: 0 25rpx;
	font-size:24rpx;   
	color:#9B9B9B;
	background-color: #f4f4f4;
	z-index: 20;
}